
{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock title %}



{% block  content %}

<script>
    
window.addEventListener('load', function () {

    

    //retain values even if reloades
    if('{{form.first_name.value}}'=='None'){
        document.getElementById("Input_Firstname").value = "";
    }

    if('{{form.username.value}}'=='None'){
        document.getElementById("Input_Username").value = "";
    }

    if('{{form.email.value}}'=='None'){
        document.getElementById("Input_Email").value = "";
    }


   
    
   

  })


</script>



<div class="container" style="min-width: 500px;">


    <div class="row">
   
        <div class="container mt-4 col-xl-6 col-sm-12" style="background-color: white;">

        <h6 class="logofont p-3" >To Do App</h6>    
        <h1 class="newcolor pt-5 px-5" style="font-family: poppins;" >Get your free Todo account now.</h1> 
        <h1 class=" px-5" style="font-family: poppins;font-weight: 300;font-size: smaller;" >Let's Make It Personal , with each list</h1> 
        
             

              <!-- input Form -->

              <form id="theForm" method="POST" action="">
                {% csrf_token %}

                    <div class="container form-floating mb-2  ">
                       
                    <input required name="first_name" value="{{form.first_name.value}}" type="text" class="form-control inputareast" id="Input_Firstname" placeholder="text" >
                    <label style="color: #5e5e5e;" for="floatingInput form-control-placeholder">First Name</label>

                    </div>

                    <div class="container mb-2  form-floating">
                    <!-- //on change checking username availablity -->
                    <input required onkeyup="checkAvailability(this.id);" name="username" type="text" class="form-control inputareast" value="{{form.username.value}}" id="Input_Username" placeholder="text">
                    <label style="color: #5e5e5e;" for="Input_Username" >Username</label>

                    <!-- area for show errors -->
                    <h6 class="text-danger" style="font-weight: 400;" id="Input_Username_Error" > 
                        {{form.username.errors}}
                        </h6>

                    </div>

                    <div class="container mb-2  form-floating">
                         <!-- //on change checking email availablity -->
                        <input required onkeyup="checkemail(this.id);"  name="email" type="email" class="inputareast form-control" id="Input_Email" placeholder="email"  value="{{form.email.value}}">
                        <label style="color: #5e5e5e;" for="Input_Email">Email Address</label>
                        <h6 class="text-danger" style="font-weight: 400;" id="Input_Email_Error" >
                            {{form.email.errors}}
                            </h6>
                        </div>

                        <div class="input-group mb-3">
                            <div class="container mb-2  form-floating">
                                <input required  onkeyup="checkpassword();" name="password1" type="password" class="form-control inputareast" id="loginPassword1" placeholder="password" aria-describedby="passtogglebutton">
                                <label style="color: #5e5e5e;" for="loginPassword1"> Password   </label>
                            </div>
                                <button style="border:none;" class="btn bi bi-eye-slash-fill" type="button" id="passtogglebutton1" onclick="togglebutton1()"></button>
                          
                             </div>

                        <div class="input-group mb-3">
                            <div class="container mb-2  form-floating">
                                <input required onkeyup="checkpassword();" name="password2" type="password" class="form-control inputareast" id="loginPassword2" placeholder="password" aria-describedby="passtogglebutton">
                                <label style="color: #5e5e5e;" for="loginPassword2">Confirm Password </label>
                            </div>
                                <button style="border:none;" class="btn bi bi-eye-slash-fill" type="button" id="passtogglebutton2" onclick="togglebutton2()"></button>
                                 
                            </div>
                            <h6 class="ps-3"style="font-weight: 400; color:red;" id="Input_Password_Error">
                                {{form.password2.errors}}
                            </h6> 
                            
                           

    
                <button type="submit" id="Id_registerButton" class="btn btn-success m-2" disabled = true> Register Now </button>

            </form>


            <h6 class="mt-2 mb-4 ms-2"style="font-family: poppins;font-weight: 300;font-size: smaller;"> Already have an account ? <a href="{% url 'login' %}">Login Here </a> </h6>
        </div>



        <div class="col-xl-6 col-sm-12 container mt-4"  style="background-color: rgb(210, 246, 255);">

         <img src="{% static 'images/homepic.png' %}" alt="homepic"  style="max-height:100%; max-width:100%;">

           <!-- text carousel -->
           <div id="carouselExampleInterval" style="pointer-events: none;" class="mb-3 carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <h1 class="homequotes px-5" >“To-Do lists help us break life into small steps.” — Randy Pausch</h1> 
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <h1 class="homequotes px-5" > “We need to do a better job of putting ourselves higher on our own to do list.”— Michelle Obama</h1> 
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <h1 class="homequotes px-5" > “Love a Monday morning “to-do” list, gets me so pumped up for the week ahead.” — Patricia Bright</h1> 
            </div>
            <div class="carousel-item">
                <h1 class="homequotes px-5"  > “I love lists. Always have.” — Adam Savage</h1> 
            </div>
            </div>
            
           </div>
        

        </div>
    </div>



</div>
















{% endblock content %}